.container {
  margin: 3rem auto 6rem;
  border: 2px solid orange;
  padding: 0 1rem;
  max-width: 36rem;
}

.sectionDetailRow {
  border: 2px solid slateblue;
  display: flex;
  justify-content: space-between;
}

.sectionDetailBlock {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
}

.sectionDetailHeader {
  margin-bottom: .8125rem;
  font-size: 1.5rem;
  line-height: .8125;
}

.sectionDetailCopy {
  font-size: 1.125rem;
}

.sectionButtonContainer {
  text-align: center;
}

.baseButton {
  display: inline-block;
  background-color: var(--caribbean-green);
  color: var(--black);
  padding: .625rem 3.25rem;
  font-weight: 900;
}

/* .header {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.backToHome {
  margin: 3rem 0 0;
}