*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #333333;
  --mineshaft: #303030;
  --caribbean-green: #14cfae;
  --java: #16e0bd;
  --cod-gray: #141414;
  
  --bg-color: var(--white);
  --accent-color: var(--java);

  --ff-primary: Source Sans Pro,
    Times;
  --ff-secondary: Source Code Pro,
    monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media screen and (min-width: 800px) {
  body {
    border: 2px solid red;
  }
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* [data-theme='dark'] */

html,
body {
  margin: 0;
  border: 2px solid peachpuff;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
}

h2,
h3 {
  color: var(--mineshaft);
  /* font-family: var(--ff-primary); */
  /* font-weight: var(--fw-bold); */
}

h2 {
  font-size: var(--fs-h2);
  text-align: center;
}

h3 {
  font-size: var(--fs-h3);
}

section {
  padding: 5em 2em;
}

p {
  margin: 0;
  font-family: var(--ff-primary);
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}